header{
    margin: 0;
    height: 100%;
    /* display: flex;
    justify-content: left;
    align-items: center;
    justify-content: space-between; */
    background-color: orange;
}

body{
    display: grid;
    grid-template-rows: 100px 1fr 60px;
}

